<ion-header [translucent]="true">
    <app-encabezado [pageTitle]="paginaTitulo"></app-encabezado>
</ion-header>

<ion-content>
    <ion-card>
        <ion-row>
            <ion-col>
                    <ion-card-content *ngFor="let alumno of alumnos" >
                        <mat-accordion class="mat-accordion">
                            <mat-expansion-panel style="margin-left: -15px; margin-right: -15px;"  class="mat-expansion-panel">
                              <mat-expansion-panel-header  style="margin-top: 15px; margin-bottom: 7px;" >
                                <mat-panel-title class="col-6" style="text-align: left;">
                                    <ion-avatar slot="start" style="margin-right: 10px;"><img style="height: 30px; width: 30px;" [src]="alumno.imagen && alumnos.imagen.formats.small.url ? 'http://localhost:8081' + alumnos.imagen.formats.small.url: 'https://www.nicepng.com/png/detail/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png' " alt="">
                                    </ion-avatar>
                                    {{alumno.nombre}} {{alumno.apellido}} 
                                </mat-panel-title>
                                <mat-panel-description class="col-6" style="text-align: left;" >Rut: {{alumno.run}}-{{alumno.dv}}  </mat-panel-description>
                              </mat-expansion-panel-header>
                              <ion-card style="margin-left: -20px; margin-right: -20px;">
                                  <ion-card-content>
                                    <p style="font-size: 20px;">Datos del alumno</p>
                                    <p style="font-size: 15px;">Nombre: {{alumno.nombre}} {{alumno.apellido}} </p>
                                    <p style="font-size: 15px;">Rut: {{alumno.run}}-{{alumno.dv}}  </p>
                                    <p style="font-size: 15px;">Seccion: {{alumno.seccion}} </p>
                                    <p style="font-size: 15px;">Carrera: {{alumno.carrera}} </p>
                                    <p style="font-size: 15px;">Correo: {{alumno.correo}} </p>
                                    <p style="font-size: 15px;">Telefono: {{alumno.telefono}}</p>
                                    <p style="font-size: 15px;">Sede: {{alumno.sede}} </p>
                                    <div *ngIf="alumno.estado === true">
                                        <h3>alumno</h3>
                                    </div>
                                    <div *ngIf="alumno.estado === false">
                                        <h3>docente</h3>
                                      </div>
                                  </ion-card-content>
                                <ion-button ion-button [routerLink]="['/','posts', 'edit', alumno.id]" style="display: block; margin: 20px; width: auto;"  color="warning">
                                    <ion-icon style="margin: 5px;" name="create-outline"></ion-icon>Modificar
                                </ion-button>
                                <ion-button ion-button (click)="deleteAlumno(alumno.id, alumno.nombre)" style="display: block; margin: 20px; width: auto;"  color="danger">
                                    <ion-icon style="margin: 5px;" name="trash"></ion-icon>Eliminar
                                </ion-button>
                              </ion-card>
                            </mat-expansion-panel>
                            
                          </mat-accordion>
                    </ion-card-content>

            </ion-col>
        </ion-row>
    </ion-card>

    <!-- Boton "Mas" de agregar alumnos-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="createAlumno()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<app-piedepagina></app-piedepagina>