<ion-header [translucent]="true">
  <app-encabezado [pageTitle]="paginaTitulo"></app-encabezado>
</ion-header>
<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header style="text-align: center">
        <div>
         
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-input [(ngModel)]="qrData" type="text" placeholder="Nombre" #nombre></ion-input>
        <ion-input [(ngModel)]="a.apellido" type="text" placeholder="Apellido" #apellido></ion-input>
        <ion-input [(ngModel)]="a.run" type="number" placeholder="Run" #run></ion-input>
        <ion-input [(ngModel)]="a.dv" type="text" placeholder="Dv" #dv ></ion-input>
        <ion-input [(ngModel)]="a.carrera" type="text" placeholder="Carrera" #carrera></ion-input>
        <ion-input [(ngModel)]="a.seccion" type="text" placeholder="Seccion" #seccion></ion-input>
        <ion-input [(ngModel)]="a.estado" type="text" placeholder="Estado" #estado></ion-input>
        <ion-input [(ngModel)]="a.telefono" type="number" placeholder="Telefono" #telefono></ion-input>
        <ion-input [(ngModel)]="a.correo" type="text" placeholder="Correo" #correo></ion-input>
        <ion-input [(ngModel)]="a.sede" type="text" placeholder="Sede" #sede ></ion-input>
        
        <ion-button
          style="display: block; margin: 20px; width: auto"
          color="primary"
          (click)="updatePost(nombre, apellido, run, estado, carrera, seccion, sede, correo, telefono, dv )"
          >Modificar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-content> </ion-content>