<ion-header [translucent]="true">

    <app-encabezado [pageTitle]="paginaTitulo"></app-encabezado>

</ion-header>

<ion-content class="background" [fullscreen]="true">

    <ion-grid>

        <ion-card>
            <ion-card-header style="text-align: center;">
                <ion-card class="card1" style="text-align: center;">
                <div style="margin: 15px 15px ;">
                    <img class="imagen1" src="../../assets/img/Logo_DuocUC.png" alt=""
                    style="justify-content:center;border-radius: 5px; width: auto; height: auto;">
                </div>
                </ion-card>
                <ion-card-subtitle style="text-align: center;margin-block: 5px;"></ion-card-subtitle>
                <ion-card-title>Escaneo QR </ion-card-title>

                <ion-card>
                    <ion-card-content style="text-align: center;">
                        <video #video [hidden]="!scanActive" width="100%"></video>
                        <canvas #canvas hidden></canvas>
                    </ion-card-content>
                </ion-card>
                <ion-card *ngIf="scarResult">
                    <ion-card-header>
                        <ion-card-title>Qr code</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{ scarResult }}
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <input #fileinput type="file" accept="image/*;capture=camera" hidden 
                    (change)="handleFile($event.target.files)">
                </ion-card>
            </ion-card-header>

        </ion-card>

        <ion-card>
        <ion-button (click)="startScan()" style="display: block; margin: 20px; width: auto;" color="success" >
            <ion-icon name="scan-outline" slot="start" > </ion-icon>
              <ion-label>Iniciar Escaneo</ion-label>
        </ion-button>
        <ion-button (click)="stopScan()" style="display: block; margin: 20px; width: auto; border-radius: 10px;" color="danger" *ngIf="scanActive">
            <ion-icon name="close-outline" slot="start"></ion-icon>
              <ion-label>Detener Escaneo</ion-label>
        </ion-button>
        <ion-button (click)="reset()" style="display: block; margin: 20px; width: auto; border-radius: 10px;" color="warning" *ngIf="scarResult">
            <ion-icon name="refresh-outline" slot="start"></ion-icon>
              <ion-label>Reiniciar Escaneo</ion-label>
        </ion-button>


        </ion-card>

    </ion-grid>
</ion-content>

<app-piedepagina></app-piedepagina>
